{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
    <h1>Hotel index</h1>

    <form method="get" action="{{ path('app_hotel_search') }}">
        <input type="text" name="q" value="{{ q|default('') }}"/>
        <input type="submit" value="Search">
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Owner</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.address }}</td>
                <td>{{ hotel.owner.email }}</td>
                <td>
                    <a href="{{ path('app_hotel_show', {'id': hotel.id}) }}">{{ "commons.show_entity"|trans }}</a>
                    {% if is_granted("ROLE_HOTEL_OWNER") %}
                        <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">{{ "commons.edit_entity"|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted("ROLE_HOTEL_OWNER") %}
        <a href="{{ path('app_hotel_new') }}">{{ "commons.create_entity"|trans }}</a>
    {% endif %}
{% endblock %}